{{ block "content" . }}
<div class="flex flex-col w-full h-full justify-start align-top">
  {{ template "navbar" . }}
  <div class="m-4 rounded h-full grid grid-cols-1 gap-4 md:grid-cols-2">
    <div class="p-4 bg-white shadow">
      <h2 class="text-2xl font-semibold">My Retros</h2>
      {{ range .Retros }}
                  <div class="flex flex-col p-4 my-2 bg-gray-100 rounded">
        <h3>{{ .Name }}</h3>
        <p>{{ .Description }}</p>
        <a href="/retro/{{ .ID }}" class="text-blue-500">Open</a>
      </div>
      {{ end }}
    </div>

    <div class="p-4 bg-white shadow">
      <h2 class="text-2xl font-semibold">My Teams</h2>
    </div>
  </div>
</div>
{{ end }}
