<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retrognome</title>
    <script defer src="static/htmx.min.js"></script>
    <script defer src="static/response-targets.js"></script>
    <link defer href="static/css/main.css" rel="stylesheet">
    <link defer rel="icon" type="image/png" href="/static/logo.png">
</head>
<body class="bg-gray-100 h-screen flex justify-center items-center" hx-ext="response-targets">
    {{ template "content" . }}
</body>
</html>